<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="GTAdatabase" connectionString="Initial Catalog=BharadwajM;Data Source=cs02.nwmissouri.edu;User Id = BharadwajM; password = mandalaparthi" />
    <add name="Grants_Tracking_Application.Properties.Settings.BharadwajMConnectionString"
      connectionString="Data Source=cs02.nwmissouri.edu;Initial Catalog=BharadwajM;Persist Security Info=True;User ID=BharadwajM;Password=mandalaparthi"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>